.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 150px 10px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr 8fr);
    grid-template-areas:
        "header"
        "main"
        "title"
        "news";

}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 195px repeat(9, 1fr);
    align-items: flex-start;
}

h1 {
    color: #2990d2;
    font-size: 56px;
    margin: 0;
    align-self: start;

}

.header h2 {
    color: #bfbec3;
    font-size: 36px;
    margin: 0;
    margin-top: 3px;
    text-align: start;
}

.header>div {
    background-color: #2990d2;
    color: #e6ebf5;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    margin-top: 10px;
    text-align: center;
}

.header>div:nth-child(even) {
    margin-left: 2px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 30px;
    padding-top: 40px;
}


.main .wrapper {
    background-color: #2990d2;
}

.main img {
    width: 100%;
}

.main div:first-child p {
    color: #e6ebf5;
    margin: 0;
    padding: 2px 0 3px 15px;
    font-size: 20px;
}

.main div:last-child {
    color: #b1b1b3;
}

.main h3 {
    margin-top: 0;
    font-size: 32px;
}

.main div:last-child p {
    font-size: 24px;
}

.title {
    grid-area: title;
    color: #b1b1b3;
    font-size: 30px;
    margin: 30px 0;
}

.news {
    grid-area: news;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    font-weight: bold;
    color: #b1b1b3;
}

.news img {
    width: 100%;
}

.news h5 {
    font-size: 24px;
    margin: 15px 0;
}

.news>div>p:nth-child(4) {
    margin-bottom: 30px;
}

.news a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.news a span:last-child {
    color: #b1b1b3;
    margin: 0 10px;
}

@media (max-width: 1100px) {
    .container {
        padding: 10px 40px;
    }
}

@media (max-width: 980px) {
    .container {
        padding: 3px;
    }
}

@media (max-width: 900px) {
    .header {
        grid-template-columns: 195px repeat(4, 1fr);
    }

    .news {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 570px) {
    .header {
        grid-template-columns: repeat(3, 1fr);
    }

    .header>h2 {
        grid-column: 2/4;
    }

    .header>div {
        margin-top: 2px;
    }

    .header>div:nth-child(3) {
        margin-left: 2px;
    }

    .header>div:nth-child(9) {
        margin-left: 2px;
    }

    .header>div:nth-child(10) {
        grid-column: 2/4;
    }

    .main {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-top: 0;
        margin-top: 30px;
    }

    .main h3 {
        font-size: 22px;
    }

    .main>div:last-child>p {
        font-size: 18px;
    }

    .title {
        margin: 15px 0;
    }
}

@media (max-width: 414px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 50px;
    }

    .header>h2 {
        grid-column: 2/3;
    }

    .header>div:nth-child(3) {
        grid-column: 1/3;
    }

    .header>div:nth-child(5) {
        margin-left: 2px;
    }

    .header>div:nth-child(7) {
        margin-left: 2px;
    }


    .header>div:nth-child(10) {
        grid-column: 1/3;
    }

    .news {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .news h5 {
        font-size: 18px;
        margin: 15px 0;
    }

    .news>div>p:nth-child(4) {
        display: none;
    }

    @media (max-width: 370px) {
        h1 {
            font-size: 45px;
        }
    }

    @media (max-width: 330px) {
        h1 {
            font-size: 40px;
        }

        .header>h2 {
            font-size: 30px;
            margin-top: 0;
        }
    }

    @media (max-width: 300px) {
        h1 {
            font-size: 32px;
        }

        .header>h2 {
            font-size: 24px;
        }
    }
}