.container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 150px 10px 40px;
}
.header {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) repeat(3, 2fr) 1fr;
    gap: 2px;
    align-items: flex-start;
    font-weight: bold;
}

h1{
    color: #2990d2;
    font-size: 56px;
    margin: 0;
    align-self:start;

}

h2 {
    color: #bfbec3;
    font-size: 36px;
    margin: 0;
    text-align: start;
}

.header > div {
    background-color: #2990d2;
    color: #cbdbf5;
    font-size: 18px;
    padding: 5px 10px;
    text-align: center;
}